<h1>A APATA</h1>
        
<h2>Quem somos</h2>

<p>Somos uma associação que trabalha voluntariamente pela causa animal, resgatando, tratando e doando animais de rua. Em janeiro de 2003, vários protetores independentes uniram seu trabalho e fundaram a Apata, acreditando que uma entidade poderia fazer mais pelos animais de rua do que cada protetor separadamente. </p>

<p>Não recolhemos animais. Não possuímos abrigo nem sede oficial. Atualmente, nossa atuação é restrita ao município de Taquara, no Estado do Rio Grande do Sul.</p>

<p>O foco de atuação da entidade é o atendimento aos animais de rua, realizando principalmente resgates emergenciais de animais em situação de risco ou morte, tratando-os e doando-os. Trabalhamos no controle das populações através das castrações e no combate às zoonoses, através da vacinação e do tratamento de animais doentes. </p>

<p> O trabalho na Apata é realizado por voluntários com dedicação parcial, ou seja, são pessoas que têm seus empregos e outros compromissos e que dedicam parte do seu tempo para o voluntariado. Não possuímos funcionários e ninguém exerce trabalho remunerado.</p>

<p>A Apata é mantida através de doações, do lucro dos eventos que realiza e dos produtos vendidos. Toda a renda arrecadada é destinada ao atendimento dos animais de rua.</p>

<p>Acreditamos que cada pessoa deve se engajar em uma causa e fazer o possível para o mundo ser um lugar melhor. Nossa causa é a proteção aos animais porque sabemos que eles são seres indefesos, que estão a mercê do ser humano e estão longe das prioridades do poder público, no entanto, são seres que vivem em nosso entorno e portanto merecem o cuidado e a proteção de alguém.</p> 

<p>É importante entender que animais de rua só são "de rua" porque um dia um ser humano os abandonou. Os animais domésticos dependem da consciência do homem: se cada dono tivesse integral responsabilidade sobre seus animais de estimação, nosso trabalho não seria necessário.</p>


<h3>Por que a Apata não possui um abrigo e não apoia essa política?</h3>

<p>Logo que fundamos a associação, acreditávamos que um canil ou abrigo era uma parte importante da solução do problema dos animais de rua. Foi presenciando a experiência de outras ONGs que possuíam abrigos que pudemos entender que essa é apenas uma maneira de tirar o problema das vistas da sociedade. Os animais são retirados das ruas e deixados no abrigo. Será que vai haver condições dignas de acomodação para eles e de manutenção dessa estrutura? Quem vai garantir isso?</p>

<p>Além disso, não demora muito tempo para que os abrigos se transformem em depósitos de animais – não apenas aqueles retirados das ruas, mas também aqueles que são covardemente abandonados na porta do abrigo. Muitas pessoas não têm coragem de largar seu bicho de estimação na rua, mas teriam a tranqüilidade de abandoná-lo na frente de um abrigo por saber que ele seria acolhido.</p>

<p>Assim, o número de animais que entram em um abrigo é muito maior do que o número de adoções responsáveis. Quando o abrigo estiver com sua lotação máxima, voltaremos ao mesmo problema dos animais de rua. </p>

<p>Por isso tudo, acreditamos que seja mais eficiente trabalhar na raiz do problema, ou seja, na educação da população e na castração dos animais. Somente essa combinação de fatores evita a superpopulação de animais de rua e os maus tratos. Mas para essa combinação render bons frutos, precisamos de recursos e de apoio da sociedade.</p>