<div id="header">
    <div id="logo"></div>
    <div id="texto-header">
        <p>Somos todos responsáveis.</p>
        <p>VOCÊ TAMBÉM PODE AJUDÁ-LOS.</p>
        <p>Adote. Contribua. Faça parte.</p>
    </div>
    <ul id="menu-header">
        <li><a href="#">A Apata</a></li>
        <li><a href="#">Cães & Gatos</a></li>
        <li><a href="#">Como ajudar</a></li>
        <li><a href="#">Perguntas frequentes</a></li>
    </ul>
</div>
<div id="middle">
    <div id="menu-esquerda">
        <ul>
            <li><a href="#" class="verde"><span>A Apata</span></a></li>
            <li><a href="#" class="azul"><span>Cães & Gatos</span></a></li>
            <li><a href="#" class="vermelho"><span>Como ajudar</span></a></li>
            <li><a href="#" class="amarelo"><span>Perguntas frequentes</span></a></li>
        </ul>
    </div>
    <div id="main">Conteúdo</div>
</div>
<div id="footer">Rodapé</div>
