<div id="header">
    <div id="logo"></div>
    <div id="texto-header">
        <p>Somos todos responsáveis.</p>
        <p>VOCÊ TAMBÉM PODE AJUDÁ-LOS.</p>
        <p>Adote. Contribua. Faça parte.</p>
    </div>
    <ul id="menu-header">
        <li><a routerLink="/sobre" routerLinkActive="ativo">A Apata</a></li>
        <li><a routerLink="/adote" routerLinkActive="ativo">Adote</a></li>
        <li><a>Adotados</a></li>
        <li><a>Produtos</a></li>
    </ul>
    <div *ngIf="urlImagem != null">
    <hr />
    <img [src]="urlImagem" alt="Description" />
    <hr />
    </div>
</div>
<div id="middle">
    <div id="menu-esquerda">
        <ul>
            <li><a routerLink="/sobre" class="verde"><span>A Apata</span></a></li>
            <li><a routerLink="/adote" class="azul"><span>Adote</span></a></li>
            <li><a routerLink="/adotados" class="vermelho"><span>Adotados</span></a></li>
            <li><a class="amarelo"><span>Produtos</span></a></li>
            <li><a class="verde"><span>Como ajudar</span></a></li>
            <li><a class="azul"><span>Cuidados básicos</span></a></li>
            <li><a class="vermelho"><span>Eventos</span></a></li>
            <li><a class="amarelo"><span>Seja voluntário</span></a></li>
            <li><a class="verde"><span>Seja sócio</span></a></li>
            <li><a class="azul"><span>Faça uma doação</span></a></li>
            <li><a class="vermelho"><span>Denuncie maus tratos</span></a></li>
            <li><a class="amarelo"><span>Perguntas frequentes</span></a></li>
            <li><a class="verde"><span>Legislação</span></a></li>
            <li><a class="azul"><span>Contato</span></a></li>
            <li><a class="vermelho"><span>Parceiros</span></a></li>
        </ul>
    </div>
    <div id="main">
        {{urlImage}}
        <router-outlet></router-outlet>
    </div>
</div>
<div id="footer">Rodapé</div>
