<h1>Cães</h1>
<span>
    <div class="preview">
        <div class="foto">
            <img [src]="'./app/img/adote.jpg'" />
        </div>
        <p>dgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dg dgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dgdgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dgdgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dgdgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dg adfg fgadg gagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dg dgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dgdgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dgdgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dgdgagdfg df afg asdg afg adfg fg adfg adfg adfgadfgadfg dg adfg fgadg ada</p>
    </div>
    <div class="preview">
        <p>b</p>
    </div>
</span>
<span>
    <div class="preview">
        <p>c</p>
    </div>
</span>
<br />
<h1>Gatos</h1>
<span>
    <div class="preview">
        <p>a</p>
    </div>
    <div class="preview">
        <p>b</p>
    </div>
</span>
<span>
    <div class="preview">
        <p>c</p>
    </div>
</span>