* {
    box-sizing: border-box;
    
}

body {
  font-family: "Open Sans";
  font-size: 1.6vmax;
  color: #858585;
  max-width: 980px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  z-index: 5;
  margin-top: 0px;
  padding-top: 0px;
}

a {
  text-decoration: none !important;
  color: inherit;
}

#header, #footer {
  float: left;
  width: 100%;
  padding-top: 15px;
}

#header div#logo {
  float: left;
  width: 40%;
  height: 216px;
  margin-left: 15px;
  background-image: url('assets/logo.png');
  background-repeat: no-repeat;
  background-size: contain;
}

#header div#texto-header {
  float: right;
  text-align: right;
  width: 55%;
  height: 200px;
  padding: 40px 0px;
}

#header div p {
  margin: 0px;
}

#header ul#menu-header,
#menu-esquerda ul {
  right: 0px;
  float: right;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#header ul#menu-header {
  width: 80%;
}

#header ul#menu-header li {
  width: 25%;
}

#header ul#menu-header li a {
  width: 100%;
}

#header ul#menu-header li,
#header ul#menu-header li a {
  padding: 0;
  overflow: hidden;
  float: left;
  height: 45px;
  padding: 3px;
  line-height: 39px;
  font-size: 1.2vmax !important;
  font-weight: bold;
  text-align: center;
}

#header ul#menu-header li a:hover,
#header ul#menu-header li a.ativo {
  color: #FFFFFF;
  background: #66CC00; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #66CC00, #DDDDDD); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #66CC00, #DDDDDD); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #66CC00, #DDDDDD); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #66CC00, #DDDDDD);
}

#header div#imagem-header {
  float: left;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

#menu-esquerda ul {
  width: 100%;
}

#menu-esquerda ul li {
  margin-bottom: 5px;
}

#menu-esquerda ul li a {
  width: 100%;
  min-height: 50px;
  line-height: 46px;
  display: inline-block;
  vertical-align: middle;
}

#menu-esquerda ul li a span {
  padding: 10px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-weight: bold;
  color: #FFFFFF;
}

#menu-esquerda ul li a.verde {
  background: #8EC1B0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #8EC1B0, #CCCCCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #8EC1B0, #CCCCCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #8EC1B0, #CCCCCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #8EC1B0, #CCCCCC); /* Standard syntax */
}
#menu-esquerda ul li a.azul {
  background: #0088FF; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0088FF, #CCCCCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0088FF, #CCCCCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #0088FF, #CCCCCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right,#0088FF, #CCCCCC); /* Standard syntax */
}

#menu-esquerda ul li a.vermelho {
  background: #CF7E2C; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #CF7E2C, #CCCCCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #CF7E2C, #CCCCCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #CF7E2C, #CCCCCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #CF7E2C, #CCCCCC); /* Standard syntax */
}

#menu-esquerda ul li a.amarelo {
  background: #C5C278; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #C5C278, #CCCCCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #C5C278, #CCCCCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #C5C278, #CCCCCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #C5C278, #CCCCCC); /* Standard syntax */
}

#middle {
  height: 300px;
  font-size: 1.2vmax;
}

#middle:after,
br {
  content: "";
  clear: both;
  display: table;
}

#menu-esquerda {
  float: left;
  width: 20%;
}

#main {
  float: left;
  width: 80%;
  padding: 5px;
}

#main h1 {
  color: #C5C278;
  font-size: 2.5vmax;
}

#main h2 {
  font-size: 2vmax;
  font-weight: normal;
  color: #099;
}

#main h3 {
  font-size: 1.7vmax;
  color: #CF7E2C;
  font-weight: normal;
}

#main p {
  text-align: justify;
}

h1, h2, h3 {
  font-family: Alice;
}

hr {
    float: left;
    width: 100%;
    height: 5px;
    background-color: #66CC00;
    border: none;
    margin: 0px;
}

div.preview {
    float: right;
    border-radius: 5px;
    border: 2px solid #73AD21;
    padding: 0px 5px; 
    margin-bottom: 5px;
    width: 49%;
    height: 360px; 
}

div.preview:first-child {
  float: left;
}

div.preview div.foto {
  float: left;
  height: 150px;
  width: 100%;
  margin-top: 5px;
  overflow: hidden;
}
div.preview p {
  width: 99%;
  height: 198px;
  overflow: hidden;
}
